@charset "UTF-8";

* {
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

header {
    background-color: black;
    height: 300px;
    color: white;
}

header h1 {
    font-family: 'Passion One',;
    font-size: 120px;
    font-style: normal;
    padding-top: 80px;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

a  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}